<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfYVtRNRpMdzow2XpuX2rvoaYsM0i_8Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>877690983328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicalReminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-bd0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-bd0cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877690983328:ios:0aae1c08008a5ec1d74ac5</string>
</dict>
</plist>